:root {
  --main-bg-color: #eeeeee;
  --main-whiter-color: #f5f5f5;
  --main-black-color: #000103;
  --sky-pink-color: #E15871;
  --sky-purple-pink-color: #D960B1;
  --road-lighter-blue-color: #112c9e;
  --road-blue-color: #0F278E;
  --player-dies-color: #5a0f0f;
  /* --horse-green-color: #205126; */
  --btn-yellow-color: #F7C015;
}

/* .game-lives-score
visibility: hidden;
.grid */
/* display: flex; */
/* .start {
  visibility: hidden;
} */

* {
  box-sizing: border-box;
} 

html, body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Galindo', cursive;
  background-color: var(--main-bg-color);
}

.wrapper {
  height: 690px;
  width: 650px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 10px solid var(--main-black-color);
  border-radius: 5px;
  background-color: var(--main-whiter-color);
}

.game-lives-score {
  visibility: hidden;
  display: flex;
}

.start-grid {
  height: 559px;
  width: 456px;
  border: 3px solid var(--main-black-color);
  background-color: var(--main-black-color);
  -webkit-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.75);
  box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.75);
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.game-title {
  text-transform: uppercase;
  color: var(--main-bg-color);
  font-size: 50px;
  margin-top: 80px;
}

.game-subtitle, .how-to-play {
  font-size: 17px;
  color: var(--main-bg-color);
}

.game-subtitle {
  margin-top: -60px;
}

.how-to-play {
  text-align: justify;
  margin: 10px 65px 40px;
}

.play-btn {
  font-size: 30px;
  font-family: 'Galindo', cursive;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.play-btn:hover {
  font-size: 33px;
  color: white;
  background-color: var(--btn-yellow-color);
}

.start {
  visibility: hidden;
}

.grid {
  display: none;
  height: 557px;
  width: 456px;
  border: 3px solid var(--main-black-color);
  -webkit-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.75);
  box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.75);
  border-radius: 4px;
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

h4 {
  margin: 10px;
  font-size: 22px;
}

.result-game, .count-down, .highscore-title {
  color: var(--main-whiter-color);
  text-align: center;
  margin-top: -25px;
  font-size: 45px;
}

.highscore-title {
  margin-bottom: -10px;
}

.highest-scores {
  color: var(--main-whiter-color);
  font-size: 28px;
}

.total-points {
  font-size: 25px;
}

.user-name {
  font-size: 17px;
  border: none;
  padding: 15px;
  border-radius: 2px;
  text-align: center;
  margin-top: -100px;
  margin-bottom: 5px;
}

.show-highscore {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start, .submit-btn, .clear-btn {
  font-family: 'Galindo', cursive;
  margin: 10px;
  padding: 7px;
  border-radius: 10px;
  font-size: 18px;
  border-radius: 10px;
  border: 4px solid var(--main-black-color);
}

.start:hover, .submit-btn:hover, .clear-btn {
  color: white;
  background-color: var(--btn-yellow-color);
}

.grid-item {
  height: 50px;
  width: 50px;
}

/* Board vars */
.grid-item.player {
  background-image: url('../assets/witch-down.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: 10;
}

.grid-item.player-won {
  background-image: url('../assets/witch-down.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid-item.player-dead {
  background-image: url('../assets/witch-down.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: player-dies 1s ease-out;
  background-color: var(--player-dies-color);
  z-index: 100;
}

.grid-item.bird-right {
  background-image: url('../assets/bird.png');
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--road-lighter-blue-color);
  position: relative;
}

.grid-item.bird-right::before {
  content: "";
  display: block;
  height: 100%;
  width: 50px;
  -webkit-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px);
  background-color: var(--road-lighter-blue-color);
  position: absolute;
  z-index: -500;
}

.grid-item.horse-left {
  background-image: url('../assets/horse-2.png');
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--road-blue-color);
  position: relative;
}

.grid-item.horse-left::before {
  content: "";
  display: block;
  height: 50px;
  width: 50px;
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  background-color: var(--road-blue-color);
  position: absolute;
  z-index: -500;
}

.grid-item.road-blue {
  background-color: var(--road-blue-color);
}

.grid-item.road-pink {
  background-color: var(--road-lighter-blue-color);
}

.grid-item.road.player {
  background-image: url(../assets/witch-down.png), url(../assets/road.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.grid-item.safe-place.cauldron {
  background-image: url(../assets/cauldron.png), url(../assets/ground.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.grid-item.safe-place.player-won {
  background-image: url(../assets/witch-happy.png), url(../assets/cauldron.png), url(../assets/ground.png);
  background-size: contain;
} 

.grid-item.water {
  background-image: url(../assets/water.png);
  background-size: contain;
}

.grid-item.rainbow {
  background-image: url(../assets/rainbow.png), url(../assets/water.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.grid-item.rainbow.player{
  background-image: url(../assets/witch-right.png), url(../assets/rainbow.png), url(../assets/water.png);
  background-size: center;
}

.grid-item.cloud {
  background-image: url(../assets/cloud.png), url(../assets/water.png);
  background-size: cover;
  position: relative;
  z-index: 20;
}

.grid-item.cloud::before {
  content: "";
  display: block;
  height: 50px;
  width: 50px;
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  background-image: url(../assets/water.png);
  position: absolute;
  z-index: -500;
}

.grid-item.cloud.player{
  background-image: url(../assets/witch-left.png), url(../assets/cloud.png), url(../assets/water.png);
  background-size: contain;
}

.grid-item.safe-place {
  position: relative;
  z-index: 1;
  background-image: url(../assets/ground.png);
  background-size: contain;
}

.grid-item.safe-place.player{
  background-image: url(../assets/witch-down.png), url(../assets/ground.png);
  background-size: contain;
}

/* ///////////////////////////////////////// */

.moving-right {
  animation: right-bird .6s linear;
} 


.moving-left {
  animation: left-horse .6s linear;
} 

.moving-left-cloud {
  animation: left .8s linear;
} 

@keyframes right-bird {
  0% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    background-image: url('../assets/bird.png');
  }
  25% {
    -webkit-transform: translateX(12.5px);
    -ms-transform: translateX(12.5px);
    transform: translateX(12.5px);
    background-image: url('../assets/bird.png');
  }
  50% {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
    background-image: url('../assets/bird-2.png');
  }
  100% {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-image: url('../assets/bird-2.png');
  }
}

@keyframes left-horse {
  0% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    background-image: url('../assets/horse-2.png');
  }
  25% {
    -webkit-transform: translateX(-12.5px);
    -ms-transform: translateX(-12.5px);
    transform: translateX(-12.5px);
    background-image: url('../assets/horse-2.png');
  }
  50% {
    -webkit-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    transform: translateX(-25px);
    background-image: url('../assets/horse.png');
  }
  100% {
    -webkit-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    transform: translateX(-50px);
    background-image: url('../assets/horse.png');
  }
}

@keyframes right {
  0% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(12.5px);
    -ms-transform: translateX(12.5px);
    transform: translateX(12.5px);
  }
  50% {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
  }
  100% {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
  }
}

@keyframes left {
  0% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(-12.5px);
    -ms-transform: translateX(-12.5px);
    transform: translateX(-12.5px);
  }
  50% {
    -webkit-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    transform: translateX(-25px);
  }
  100% {
    -webkit-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    transform: translateX(-50px);
  }
}

@keyframes player-dies {
  100% {
    background-image: url('../assets/ghost.png');
    background-color: var(--player-dies-color);
  }
}