:root {
  --main-bg-color: #eeeeee;
  --road-lighter-blue-color: #112c9e;
  --road-blue-color: #0F278E;
  --player-dies-color: #5a0f0f;
}

* {
  box-sizing: border-box;
} 

html, body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Galindo', cursive;
  background-color: var(--main-bg-color);
}

.game-lives-score {
  display: flex;
}

.grid {
  height: 557px;
  width: 456px;
  border: 3px solid black;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

h4 {
  margin: 10px;
}

.result-game, .count-down, .highscore-title {
  color: white;
  text-align: center;
  margin-top: -25px;
  font-size: 45px;
}

.highscore-title {
  margin-bottom: -10px;
}

.highest-scores {
  color: white;
  font-size: 28px;
}

.total-points {
  font-size: 25px;
}

.user-name {
  font-size: 17px;
  border: none;
  padding: 15px;
  border-radius: 2px;
  text-align: center;
  margin-top: -100px;
  margin-bottom: 5px;
}

.show-highscore {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start, .submit-btn, .clear-btn {
  font-family: 'Galindo', cursive;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.start:hover {
  color: white;
  background-color: black;
}

.start:active, .submit-btn:active, .clear-btn:active  {
  text-transform: uppercase;
}

.grid-item {
  height: 50px;
  width: 50px;
}

/* Board vars */
.grid-item.player {
  background-image: url('../assets/witch-down.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: 10;
  /* background-color: transparent; */
}

.grid-item.player-won {
  background-image: url('../assets/witch-down.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid-item.player-dead {
  background-image: url('../assets/witch-down.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: player-dies 1s ease-out;
  background-color: var(--player-dies-color);
  z-index: 100;
}

.grid-item.car-right {
  background-image: url('../assets/bird.png');
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--road-lighter-blue-color);
  position: relative;
}

.grid-item.car-right::before {
  content: "";
  display: block;
  height: 100%;
  width: 50px;
  -webkit-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px);
  background-color: var(--road-lighter-blue-color);
  position: absolute;
  z-index: -500;
}

.grid-item.car-left {
  background-image: url('../assets/horse-2.png');
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--road-blue-color);
  position: relative;
}

.grid-item.car-left::before {
  content: "";
  display: block;
  height: 50px;
  width: 50px;
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  background-color: var(--road-blue-color);
  position: absolute;
  z-index: -500;
}

.grid-item.road-blue {
  background-color: var(--road-blue-color);
  /* background-image: url(../assets/road-blue.png); */
  /* background-size: contain;
  background-repeat: no-repeat; */
}

.grid-item.road-pink {
  background-color: var(--road-lighter-blue-color);
  /* background-image: url(../assets/road-pink.png); */
  /* background-size: contain;
  background-repeat: no-repeat; */
}

.grid-item.road.player {
  background-image: url(../assets/witch-down.png), url(../assets/road.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.grid-item.safe-place.homes {
  background-image: url(../assets/cauldron.png), url(../assets/ground-2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.grid-item.safe-place.player-won {
  background-image: url(../assets/witch-happy.png), url(../assets/cauldron.png), url(../assets/ground-2.png);
  background-size: contain;
} 

.grid-item.water {
  background-image: url(../assets/water.png);
  background-size: contain;
}

.grid-item.log {
  background-image: url(../assets/rainbow.png), url(../assets/water.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.grid-item.log.player{
  background-image: url(../assets/witch-right.png), url(../assets/rainbow.png), url(../assets/water.png);
  background-size: center;
}

.grid-item.leaf {
  background-image: url(../assets/cloud.png), url(../assets/water.png);
  background-size: cover;
  position: relative;
  z-index: 20;
}

.grid-item.leaf::before {
  content: "";
  display: block;
  height: 50px;
  width: 50px;
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  background-image: url(../assets/water.png);
  position: absolute;
  z-index: -500;
}

.grid-item.leaf.player{
  background-image: url(../assets/witch-left.png), url(../assets/cloud.png), url(../assets/water.png);
  background-size: contain;
}

.grid-item.safe-place {
  position: relative;
  z-index: 1;
  background-image: url(../assets/ground-2.png);
  background-size: contain;
}

.grid-item.safe-place.player{
  background-image: url(../assets/witch-down.png), url(../assets/ground-2.png);
  background-size: contain;
}

/* ///////////////////////////////////////// */

.moving-right {
  animation: right-bird .6s linear;
} 


.moving-left {
  animation: left-horse .6s linear;
} 

.moving-right-log {
  animation: right .9s linear;
} 

.moving-left-log {
  animation: left .8s linear;
} 

@keyframes right-bird {
  0% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    background-image: url('../assets/bird.png');
  }
  25% {
    -webkit-transform: translateX(12.5px);
    -ms-transform: translateX(12.5px);
    transform: translateX(12.5px);
    background-image: url('../assets/bird.png');
  }
  50% {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
    background-image: url('../assets/bird-2.png');
  }
  100% {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-image: url('../assets/bird-2.png');
  }
}

@keyframes left-horse {
  0% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    background-image: url('../assets/horse-2.png');
  }
  25% {
    -webkit-transform: translateX(-12.5px);
    -ms-transform: translateX(-12.5px);
    transform: translateX(-12.5px);
    background-image: url('../assets/horse-2.png');
  }
  50% {
    -webkit-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    transform: translateX(-25px);
    background-image: url('../assets/horse.png');
  }
  100% {
    -webkit-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    transform: translateX(-50px);
    background-image: url('../assets/horse.png');
  }
}

@keyframes right {
  0% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(12.5px);
    -ms-transform: translateX(12.5px);
    transform: translateX(12.5px);
  }
  50% {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
  }
  100% {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
  }
}

@keyframes left {
  0% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(-12.5px);
    -ms-transform: translateX(-12.5px);
    transform: translateX(-12.5px);
  }
  50% {
    -webkit-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    transform: translateX(-25px);
  }
  100% {
    -webkit-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    transform: translateX(-50px);
  }
}

@keyframes player-dies {
  100% {
    background-image: url('../assets/ghost.png');
    background-color: var(--player-dies-color);
  }
}