* {
  box-sizing: border-box;
} 

html, body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Galindo', cursive;
}

.game-lives-score {
  display: flex;
}

.grid {
  height: 554px;
  width: 454px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h4 {
  margin: 10px;
}

.result-game, .count-down, .highscore {
  color: white;
  text-align: center;
  margin-top: -30px;
  font-size: 45px;
}

.total-points {
  font-size: 25px;
}

.start {
  font-family: 'Galindo', cursive;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.grid-item {
  height: 50px;
  width: 50px;
  /* ! Delete later */
  border: 1px solid black;
}

/* Board vars, change later */
.grid-item.player {
  background-image: url('../assets/pika-sprite.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid-item.player-won {
  background-image: url('../assets/pika-sprite.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid-item.player-dead {
  background-image: url('../assets/pika-sprite.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: player-dies 1s ease-out;
}

.grid-item.car-right {
  background-color: green;
}

.grid-item.car-left {
  background-color: red;
}

.grid-item.homes {
  background-color: pink;
}

.grid-item.water {
  background-color: blue;
}

.grid-item.log {
  background-color: burlywood;
}


.grid-item.leaf {
  background-color: forestgreen;
}

.grid-item.safe-place{
  background-color: lightgreen;
}

@keyframes player-dies {
  100% {
    background-image: url('../assets/cross.png');
  }
}